<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
        a {
            width: 30%;
          }
    </style>      
    <title>Static site</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% for theme in themes %}
        {% for topic in topics %}
        <div class="list-group" label='{{theme['title']}}'>
          {% if topic['topic'] == theme['slug'] %}
            <a href="./{{topic['source']}}" class="list-group-item">{{topic['source']}}</a>
          {% endif %}
        </div>
        {% endfor %}
      </ul>
    {% endfor %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>