<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <title>DEVMAN</title>
  </head>
  <body>
  {% for theme in themes %}
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="">
      {{ theme['title'] }} 
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% for topic in topics %}
      {% if topic['topic'] == theme['slug'] %}

        <li><a class="dropdown-item" href="{{ topic['source'] }}">{{topic['title']}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>